    <footer class="global-footer">
        <p>在日ウクライナ人コミュニティ<a href="https://www.facebook.com/groups/371541230835/">「クラヤニイ」(Краяни, Kraiany)</a>のプロジェクトです。ソースコードを<a href="https://github.com/kraiany/ukraine-info">GitHub</a>上で公開しました。</p>
        <small>All descriptions and images licenced under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution/Share-Alike License</a>.</small>
        <small>Web development by <a href="http://www.linkedin.com/pub/artem-nagornyi/7/635/404">Artem Nagornyi</a>. Background image from <a href="http://subtlepatterns.com/">Subtle Patterns</a>.</small>
        <small>Mountains of Christmas font from <a href="http://www.fontsquirrel.com/fonts/mountains-of-christmas">Font Squirrel</a>. Original CSS styles by <a href="https://github.com/maban">Anna Debenham</a>.</small>
    </footer>
    
    </div>
    
    <span class="snowman"></span>
    
    <span class="snow-layer"></span>
    
    </body>

</html>
