    <footer class="global-footer">
        <small style="margin-left: 1.334em; margin-right: 1.334em;">
        在日ウクライナ人コミュニティ<a href="https://www.kraiany.org/ja/">「クラヤニイ」(Краяни, Kraiany)</a>のプロジェクトです。
        Web開発： <a href="https://www.linkedin.com/pub/artem-nagornyi/7/635/404">アルテム</a>。ソースコードを<a href="https://github.com/kraiany/ukraine-info">GitHub</a>上で公開しました。
        テキストと写真は<a href="https://creativecommons.org/licenses/by-sa/3.0/deed.ja">クリエイティブ・コモンズ 表示-継承ライセンス</a>の下で利用可能です。
        </small>
    </footer>
    
    </div>
    
    <a href="#top"><span class="snowman"></span></a>
    
    <span class="snow-layer"></span>
    
    <script>
	    function load(img)
	    {
	      img.fadeOut(0, function() {
	        img.fadeIn(1000);
	      });
	    }
	    $('.lazyload').lazyload({load: load});
	    
	    $('.marquee').marquee({
            //speed in milliseconds of the marquee
            duration: 10000,
            //gap in pixels between the tickers
            //gap: 50,
            //time in milliseconds before the marquee will start animating
            delayBeforeStart: 0,
            //'left' or 'right'
            direction: 'left',
            //true or false - should the marquee be duplicated to show an effect of continues flow
            //duplicated: true,
            pauseOnHover: true
        });
	</script>
	
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65602829-1', 'auto');
  ga('send', 'pageview');
</script>

<script>
$('.hiddenarea').hide()
$('.readhiddenarea').on('click', function()
{
  $(document).find('.readhiddenarea').hide();
  $(document).find('.hiddenarea').show();
  return false;
})
$('.hideexpandedarea').on('click', function()
{
  $(document).find('.hiddenarea').hide();
  $(document).find('.readhiddenarea').show(); 
  return false;
})

</script>

<script>
function hasTouch() {
    return 'ontouchstart' in document.documentElement
           || navigator.maxTouchPoints > 0
           || navigator.msMaxTouchPoints > 0;
}

if (hasTouch()) { // remove all the :hover stylesheets
    try { // prevent exception on browsers not supporting DOM styleSheets properly
        for (var si in document.styleSheets) {
            var styleSheet = document.styleSheets[si];
            if (!styleSheet.rules) continue;

            for (var ri = styleSheet.rules.length - 1; ri >= 0; ri--) {
                if (!styleSheet.rules[ri].selectorText) continue;

                if (styleSheet.rules[ri].selectorText.match(':hover')) {
                    styleSheet.deleteRule(ri);
                }
            }
        }
    } catch (ex) {}
}
</script>
</body>

</html>
