    <footer class="global-footer">
        <p>Created as project of <a href="https://www.facebook.com/groups/371541230835/">Ukrainian Community in Japan "Kraiany"</a> on <a href="https://github.com/Kraiany">GitHub</a>.</p>
        <p><a href="https://github.com/anahorny/ukraine-info">See the code for this site on Github</a></p>
        <small>All descriptions and images licenced under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution/Share-Alike License</a>.</small>
        <small>Background image from <a href="http://subtlepatterns.com/">Subtle Patterns</a>. Original CSS styles by <a href="https://github.com/maban">Anna Debenham</a>.</small>
    </footer>
    
    </div>
    
    <span class="snowman"></span>
    
    <span class="snow-layer"></span>
    
    </body>

</html>
