<!DOCTYPE html>
<html>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script language="JavaScript" type="text/javascript" src="js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="js/jquery.lazyload-any.min.js"></script>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" >
    </head>
    <body>

<span class="snow-icicles"></span>
    
<div class="container">
