<!DOCTYPE html>
<html lang="ja">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <head>
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-T2Q5CHB');</script>
        <!-- End Google Tag Manager -->
        <meta name="google-site-verification" content="pSwlLWduJ2XOCXsRw8W8E3nBfIx-VBfb9CAnaK4kUcc" />
        <base href="https://www.kraiany.org/ukraine-info/">
        <meta charset="utf-8">
        <meta name="description" content="{{ page.description ||  "ウクライナ情報、ウクライナの写真、ウクライナのニュース" }}">
        <meta name="keywords" content="ウクライナ,情報,ニュース,写真,歴史,語,文学,音楽,技術,料理,ウクライナの都市,ウクライナの地名,ペトリキフカ,キイフ,キエフ,リヴィウ,オデサ,オデッサ,ドニプロペトロウシク,チェルニウツィー,ハルキウ,ヴィーンヌィツャ,ドンバス,クリミア,クリミア山脈,カルパティア山脈,ウクライナ戦争,ウクライナの民族衣裳,ウクライナの行事">
        <meta name="author" content="Artem Nagornyi">
        <meta property="og:image" content="https://www.kraiany.org/ukraine-info/css/images/ukraine_shape.png">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>{{ page.title }}</title>
    	<script language="JavaScript" type="text/javascript" src="js/jquery.min.js"></script>
    	<script language="JavaScript" type="text/javascript" src="js/jquery.lazyload-any.min.js"></script>
    	<script language="JavaScript" type="text/javascript" src="js/jquery.marquee.min.js"></script>
        <link rel="stylesheet" href="css/main.css" >
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2Q5CHB" height="0" width="0"
                style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <span class="snow-icicles"></span>
        <div id="top" class="container">
