<!DOCTYPE html>
<html lang="ja">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="ウクライナ情報、ウクライナの写真、ウクライナのニュース">
        <meta name="keywords" content="ウクライナ,情報,ニュース,写真,歴史,語,文学,音楽,技術,料理,ウクライナの都市,ウクライナの地名,ペトリキフカ,キイフ,キエフ,リヴィウ,オデサ,オデッサ,ドニプロペトロウシク,チェルニウツィー,ハルキウ,ヴィーンヌィツャ,ドンバス,クリミア,クリミア山脈,カルパティア山脈,ウクライナ戦争,ウクライナの民族衣裳,ウクライナの行事">
        <meta name="author" content="Artem Nagornyi">
        <meta property="og:image" content="http://ukuraina-jouhou.info/css/images/ukraine_shape.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<script language="JavaScript" type="text/javascript" src="js/jquery.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="js/jquery.lazyload-any.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="js/jquery.marquee.min.js"></script>
    <link rel="stylesheet" href="css/main.css" >
    </head>
    <body>
<span class="snow-icicles"></span>
<div id="top" class="container">
