{% include head.html %}

<main role="main">

<h1>{{ page.title }}</h1>

<div class="img-wrapper">
<img src="{{ page.image }}" />
</div>    

<div style="background:url(css/images/vyshyvka_banner.gif) repeat-x;width:100%;height:50px;"></div>
<p>
<a href="https://play.google.com/store/apps/details?id=com.arukai.uajpspeak">
<img src="/css/images/uajpspeak.png" alt="#ウクライナ語会話集">
</a>
</p>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c728174c6dbced" async="async"></script>
<div class="addthis_sharing_toolbox"></div>
<p class="attribution">場所： <a href="{{ page.place-googlemaps-link }}">Googleマップ</a><br/>無料アプリ： <a href="https://play.google.com/store/apps/details?id=com.arukai.uajpspeak">ウクライナ語会話集</a></p>
{{ content }}    

</main>

{% include nav.html %}

{% include foot.html %}
