{% include head.html %}
    
<h1 class="title-site">{{ page.title }}</h1>
<div class="marquee" style="color:red">ウクライナをロシア軍が攻撃している！<a href="https://ja-jp.facebook.com/uajpnews">最新ニュース</a></div>
<marquee class="mobile-marquee" style="color:red" behaviour="scroll">ウクライナをロシア軍が攻撃している！<a href="https://ja-jp.facebook.com/uajpnews">最新ニュース</a></marquee>
<br/><br/>
	{{ content }}
	<nav class="grid">
	    <ul>
	        {% for p in site.pages %}
	        {% if p.home %}
	        {% else %}
	        <li>
	        	<a href="{{ site.baseurl }}{{ p.url }}">
		        <div class="img-wrapper">
	        		<img src="{{ p.image }}" />
	        	</div>
		        <h2>{{ p.title }}</h2>
		        <article-desc>{{ p.description }}</article-desc>
		        </a>
	        </li>
	        {% endif %}
	        {% endfor %}
	    </ul>
	</nav>

{% include foot.html %}
