{% include head.html %}
    
<h1 class="title-site">{{ page.title }}</h1>
<p>

<div id="top-container">

<div id="top-left" class="nomobile">
<a href="http://uatoday.tv/?region=1">
<img src="/css/images/uatoday.png" alt="#Ukraine Today">
</a>
</div>

<div id="top-center">
<a href="https://play.google.com/store/apps/details?id=com.arukai.uajpspeak">
<img src="/css/images/uajpspeak.png" alt="#ウクライナ語会話集">
</a>
</div>

<div id="top-right" class="nomobile">
<a href="https://www.tripadvisor.jp/Tourism-g294473-Ukraine-Vacations.html">
<img src="/css/images/tripadvisor_banner.png" alt="#ウクライナ語会話集">
</a>
</div>

</div>

</p>

<center><a href="https://kraiany.github.io/festival/index.html">ウクライナフェスティバル</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://ukuken.web.fc2.com">ウクライナ研究会</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/uajpnews">最新ニュース・日本語</a></center>
<br/>

	{{ content }}
	<nav class="grid">
	    <ul>
	        {% for p in site.pages %}
	        {% if p.home %}
	        {% else %}
	        <li>
	        	<a href="{{ site.baseurl }}{{ p.url }}">
	        	
	        	{% if p.layout != 'news' %}
		        <div class="img-wrapper">
	        		<img src="{{ p.image }}" />
	        	</div>
	        	{% endif %}
	        	
	        	{% if p.layout != 'news' and p.layout != 'attention' %}
		        <h2>{{ p.title }}</h2>
		        <article-desc>{{ p.description }}</article-desc>
		        {% endif %}
		        
		        {% if p.layout == 'news' %}
		        <h2>{{ p.title }}</h2>
		        <article-desc class="nomobile">{{ p.description }}</article-desc>
		        <img src="/css/images/ukraine_ani.gif" style="float:left; margin-right:10px; margin-top:5px; height:auto; width:auto; max-width:50px; max-height:50px;"></img>
		        {% endif %}
		        
		        {% if p.layout == 'attention' %}
		        <h2><b><font color="red">{{ p.title }}</font></b></h2>
		        <article-desc class="nomobile"><b><font style="color:black;background-color:red">{{ p.description }}</font></b></article-desc>
		        <img src="/css/images/fire.gif" style="float:left; margin-right:10px; margin-top:5px; height:auto; width:auto; max-width:50px; max-height:50px;"></img>
		        {% endif %}
		        
		        </a>
	        </li>
	        {% endif %}
	        {% endfor %}
	    </ul>
	</nav>
	
<!--
<script>
$(document).ready(function () {
setTimeout(function() {
   $.magnificPopup.open({
	items: [
      {
        src: '/css/images/fest-front.jpg',
        title: 'ウクライナDAY'
      },
      {
        src: '/css/images/fest-back.jpg',
        title: 'ウクライナDAY'
      },
      {
        src: 'https://www.youtube.com/watch?v=FQvFdIoVrm0?rel=0',
        type: 'iframe' // this overrides default type
      },
      {
        src: 'https://www.youtube.com/watch?v=XHD81TMxF5s?rel=0',
        type: 'iframe' // this overrides default type
      }
    ],
    gallery: {
      enabled: true
    },
    type: 'image',
    closeOnContentClick: true,
	image: {
		verticalFit: true,
		cursor: null
	},
	// Delay in milliseconds before popup is removed
	removalDelay: 300,
	mainClass: 'mfp-img-mobile mfp-fade'
      });
 }, 5000);
});
</script>
-->

{% include foot.html %}
